.button{
    width: 50%;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
    padding: auto;
    background: none;
    color: var(--title-white);
    font-size: 16px;
    display: flex;
    gap: 8px;
    border: 2px solid;
    border-radius: 5px;
}