.content {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-top: 109px;
}

.leftContent {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.leftContent h3 {
    font-size: 34px;
    font-weight: 600;
    color: var(--title-white);
    margin: 0;
}

.leftContent h1 {
    font-size: 86px;
    font-weight: 600;
    color: var(--color-cyan);
    margin: 0;
}


.leftContent .container_button {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}



.rightContent {
    min-height: 665px;
    position: absolute;
    right: 0;
}



@media (max-width: 974px) {
    .rightContent {
        display: none;
    }

    /* .leftContent{
        flex: 1;
        padding: 0 72px;
    } */
    .leftContent h1 {
        font-size: 61px;
    }

    .leftContent h3 {
        font-size: 24px;
    }

}

@media (max-height: 840px){
    .rightContent{
        top: 10%;
    }
    .rightContent img {
        height: 500px !important; 
    }
}